.switcher {
  position: absolute;
  display: flex;
  top: 6px;
  right: 8%;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
}

.draw-switch {
  padding: 0 10px;
}

.performance-switch {
  padding-left: 10px;
}

.performance-value {
  width: 26px;
  display: inline-flex;
}

.high {
  color: #ff7d5b;
}

.low {
  color: #4d753d;
}
