<div class="switcher">
  <div class="draw-switch" (click)="switchDraw()">
    Draw
    <span class="performance-value"
          [ngClass]="{'canvas' : isCanvas, 'svg': !isCanvas }">
      {{drawValue}}
    </span>
  </div>

  <div class="performance-switch" (click)="switchPerfomance()">
      Switch performance (
    <span class="performance-value"
          [ngClass]="{'low' : isAfterViewChecked, 'high': !isAfterViewChecked }">
      {{performanceValue}}
    </span> )
  </div>
</div>

<div>
  <app-cubic-bezier-curve-view
    *ngIf="!isCanvas"
    [isAfterViewChecked]="isAfterViewChecked"></app-cubic-bezier-curve-view>
</div>

<div>
  <app-cubic-bezier-curve-canvas-view
    *ngIf="isCanvas"
    [isAfterViewChecked]="isAfterViewChecked"></app-cubic-bezier-curve-canvas-view>
</div>
