<div class="holder-super-wrapper">
  <div class="holder-wrapper">
    <div class="controls">
      <div class="controls__row">
        <div class="controls__col-left">
          <div class="controls__text">
            Curves:
          </div>
        </div>
        <div class="controls__col-right">
          <label for="nCurve"></label>
          <input name="curves" type="range" min="1" max="100" id="nCurve" [(ngModel)]="numActiveCurves" (change)="updateCurve()">
        </div>
        <div class="controls__value">
          <div class="controls__text">
            <span id="nCurve-value">{{numActiveCurves}}</span>
          </div>
        </div>
      </div>

      <div class="controls__row">
        <div class="controls__col-left">
          <div class="controls__text">
            Elements:
          </div>
        </div>
        <div class="controls__col-right">
          <label for="nElement"></label>
          <input name="points" type="range" min="3" max="102" id="nElement" [(ngModel)]="numActivePoints" (change)="updateCurve()">
        </div>
        <div class="controls__value">
          <div class="controls__text">
            <span id="nElement-value">{{numActivePoints - 2}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="holder">
      <div class="holder-inner" id="svg-wrapper">
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </div>
</div>
